<app-sticky-header>
    <header>
        <div class="header-container">

            <!-- <nav role="navigation">
                <label for="menu-checkbox" class="toggle-button" data-open="MENU" data-close="CLOSE" onclick></label>
                <ul class="main-menu">
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">GAMES</a>
                    </li>
                    <li>
                        <a href="#">BLOG</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                </ul>
            </nav> -->
            <nav>
                <div class="menu">
                    <div class="logo">
                        <img src="assets/img/wolf.png" alt="logo">
                    </div>
                    <div class="title">
                        <p>VR MASTER CLUB</p>
                    </div>
                    <ul class="clear">
                        <li>
                            <a href="index.html" title="Home">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="link-text">HOME</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Features">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                <span class="link-text">Features</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Portfolio">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <span class="link-text">Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Blog">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                <span class="link-text">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Contact">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span class="link-text">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</app-sticky-header>

<main>
    <section class="top-slide">
        <div class="top-container">
            <div>
                <h2>WHAT IS </h2>
            </div>
            <div>
                <h2>VIRTUAL REALITY </h2>
            </div>
            <div>
                <p>Virtual reality is an artificial environment that is </p>
            </div>
            <div>
                <p>created with software and presented to the user</p>
            </div>
            <div>
                <p>in such a way that the user suspends belief and accepts</p>
            </div>
            <div>
                <p>it as a real environment. On a computer, virtual reality</p>
            </div>
            <div>
                <p>is primarily experienced through two of the five senses: sight and sound. </p>
            </div>
        </div>
    </section>

    <section class="specialize">
        <div class="specialize-container">
            <h3>WE CREATE QUALITY DESIGNS.</h3>
            <p>We specialize in Web Design / Development and Graphic Design</p>
            <div class="specialize-cards">
                <div class="card">
                    <div class="top-card">
                        <img src="assets/img/helm.png" alt="">
                        <p>WEB DEVELOPMENT</p>
                    </div>
                    <div class="bottom-card">
                        <p class="first-p">Redisigning
                            <br> With Personality</p>
                    </div>
                </div>
                <div class="card">
                    <div class="top-card">
                        <img src="assets/img/rent.png" alt="">
                        <p>WEB DESIGN</p>
                    </div>
                    <div class="bottom-card">
                        <p class="first-p">Redisigning
                            <br> With Personality</p>
                    </div>
                </div>
                <div class="card">
                    <div class="top-card">
                        <img src="assets/img/persent.png" alt="">
                        <p>GRAPHIC DESIGN</p>
                    </div>
                    <div class="bottom-card">
                        <p class="first-p">Redisigning
                            <br> With Personality</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <h4>OUR GAMES</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
        <div class="toggles">
            <button id="showall">SHOW ALL</button>
            <button id="quest">QUEST</button>
            <button id="shooter">SHOOTER</button>
            <button id="horror">HORROR</button>
        </div>
        <div class="posts">
            <div class="post quest">
                <img src="assets/img/game1.jpg" alt="">
            </div>
            <div class="post quest">
                <img src="assets/img/game2.jpg" alt="">
            </div>
            <div class="post shooter">
                <img src="assets/img/game3.jpg" alt="">
            </div>
            <div class="post shooter">
                <img src="assets/img/game4.jpg" alt="">
            </div>
            <div class="post horror">
                <img src="assets/img/game5.png" alt="">
            </div>
            <div class="post horror">
                <img src="assets/img/belko vr.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="brand-slider">
        <h4>OUR CLIENTS</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
        <div class="owl-carousel">
            <div>
                <img src="assets/img/Client 1.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 2.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 3.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 4.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 5.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 6.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 7.jpg" alt="">
            </div>
            <div>
                <img src="assets/img/Client 8.jpg" alt="">
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-container">
        <div class="about-us">
            <h4>About us</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                nisl ut aliquip ex ea commodo consequat.
            </p>
            <a href="#">Learn more</a>
            <h4>Photo Stream</h4>
            <div class="images">
                <img src="assets/img/photo1.jpg" alt="">
                <img src="assets/img/photo2.jpg" alt="">
                <img src="assets/img/photo3.jpg" alt="">
                <img src="assets/img/photo4.jpg" alt="">
                <img src="assets/img/photo5.jpg" alt="">
                <img src="assets/img/photo6.jpg" alt="">
            </div>
        </div>
        <div class="tweets">
            <h4>Latest tweets</h4>
            <p>
                <img src="assets/img/Twitter birs icon.png" alt="">Check Out Dtbaker's @Arduino Sales Notification #System </p>
            <p>
                <img src="assets/img/Twitter birs icon.png" alt="">Community Superstar Winner – #OrganicBeeMedia </p>
            <p>
                <img src="assets/img/Twitter birs icon.png" alt="">Clean #Websites Designs for Your #Inspiration </p>
            <p>
                <img src="assets/img/Twitter birs icon.png" alt="">Cute Online #Shops</p>
            <p>
                <img src="assets/img/Twitter birs icon.png" alt="">Download 40 vector #icons package for #FREE</p>
        </div>
        <div class="contacts">
            <h4>Contact info</h4>
        </div>
    </div>
</footer>