<header>
    <div class="header-container">
        <div class="logo">
            <img src="assets/img/LOGO.png" alt="logo">
        </div>
        <input type="checkbox" id="menu-checkbox">
        <nav role="navigation">
            <label for="menu-checkbox" class="toggle-button" data-open="MENU" data-close="CLOSE" onclick></label>
            <ul class="main-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">GAMES</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="top-slide">
        <div class="top-container">
            <div><h2>WHAT IS </h2></div>
            <div><h2>VIRTUAL REALITY </h2></div>
            <div><p>Virtual reality is an artificial environment</p></div>
            <div><p>that is created with software and presented to the user</p></div>
            <div><p>in such a way that the user suspends belief and accepts</p></div>
            <div><p>it as a real environment. On a computer, virtual reality</p></div>
            <div><p>is primarily experienced through two of the five senses: sight and sound. </p></div>
        </div>
    </section>

    <section class="specialize">
        <div class="specialize-container">
            <h3>WE CREATE QUALITY DESIGNS.</h3>
            <p>We specialize in Web Design / Development and Graphic Design</p>
            <div class="specialize-cards">
                <div class="card">
                    <div class="top-card">
                        <img src="assets/img/helm.png" alt="">
                        <p>WEB DEVELOPMENT</p>
                    </div>
                    <div class="bottom-card">
                        <p class="first-p">Redisigning <br> With Personality</p>
                    </div>
                </div>
                <div class="card">
                    <div class="top-card">
                        <img src="assets/img/rent.png" alt="">
                        <p>WEB DESIGN</p>
                    </div>
                    <div class="bottom-card">
                        <p class="first-p">Redisigning <br> With Personality</p>
                    </div>
                </div>
                <div class="card">
                    <div class="top-card">
                        <img src="assets/img/persent.png" alt="">
                        <p>GRAPHIC DESIGN</p>
                    </div>
                    <div class="bottom-card">
                        <p class="first-p">Redisigning <br> With Personality</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <h4>OUR GAMES</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
        <div class="toggles">
            <button id="showall">SHOW ALL</button>
            <button id="quest">QUEST</button>
            <button id="shooter">SHOOTER</button>
            <button id="horror">HORROR</button>
        </div>
        <div class="posts">
            <div class="post quest"><img src="assets/img/game1.jpg" alt=""></div>
            <div class="post quest"><img src="assets/img/game2.jpg" alt=""></div>
            <div class="post shooter"><img src="assets/img/game3.jpg" alt=""></div>
            <div class="post shooter"><img src="assets/img/game4.jpg" alt=""></div>
            <div class="post horror"><img src="assets/img/game5.png" alt=""></div>
            <div class="post horror"><img src="assets/img/belko vr.jpg" alt=""></div>
        </div>
    </section>
</main>

