.body {
    height: 700px;
    background: url(/assets/img/registration.jpg) no-repeat;
    background-size: 100%;
}

.main {
    height: 500px;
    width: 700px;
    background-color: rgba(200, 208, 253, 0.74);
    margin: auto;
}

.content {
    margin-top: 100px;
}

.main h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.main p {
    padding-top: 10px;
    padding-bottom: -40px;
    text-align: center;
    color: grey;
}

.main form {
    text-align: center;
}

.main form input {
    text-align: center;
    width: 50%;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid #F8F8F8;
    background-color: #F8F8F8;
    border-radius: 25px;
}

.main form input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: grey;
    letter-spacing: 1px;
}

.main form button {
    display: inline-block;
    padding: 10px 30px;
    margin: auto;
    border: 6px solid rgb(126, 202, 253);
    border-radius: 100px 15px 100px 15px;
    box-sizing: border-box;
    font: bold;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #59bdf7;
    text-align: center;
    transition: all 0.2s;
    padding-bottom: 10px;
  }
.main form button:hover {
    box-shadow:
      1px 1px #53ea93,
      2px 2px #53ea93,
      3px 3px #53ea93,
      4px 4px #53ea93;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }