<app-menu></app-menu>
<html xmlns:th="http://www.thymeleaf.org">
<div class="main">
  <h1>Sign Up</h1>
  <p><i>Your Account</i></p>
  <form>
    <input type="text" placeholder="Username">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
    <input type="text" placeholder="PasswordConfirm">
    <input type="text" placeholder="Age">
    <input type="password" placeholder="Phone">
    <input type="submit" value="Sign Up">
  </form>
  <!-- <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <input type="text" th:field="*{id}" placeholder="Username"/>
    <input type="text" th:field="*{content}" placeholder="Email"/>
    <input type="submit" value="Submit" /> 
</form>-->
</div>
</html>